In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys

# helper functions
sys.path.insert(0, "../src/lib")

import dataset as dataset_funcs
import cleaning as cleaning_funcs

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
sales_df = pd.read_csv('../data/raw/sales.csv')
sales_df.DATE_ORDER = sales_df.DATE_ORDER.astype("datetime64")
sales_df["UNIT_PRICE"] = sales_df["REVENUE"] / sales_df["QTY_ORDER"]
sales_df.head()

  PROD_ID DATE_ORDER  QTY_ORDER  REVENUE  UNIT_PRICE
0      P6 2015-08-02      1.000 1808.990    1808.990
1      P6 2015-08-17      1.000 1674.000    1674.000
2      P6 2015-08-17      1.000 1673.950    1673.950
3      P6 2015-08-11      1.000 1674.000    1674.000
4      P6 2015-08-17      1.000 1674.000    1674.000

as we mentioned on the **EXPLORATORY DATA ANALYSIS**, we will remove some bad data from our dataset to avoid propagating these errors to the model (using helper functions).

In [3]:
sales_df = cleaning_funcs.clean_sales_dataframe(sales_df);sales_df

       PROD_ID DATE_ORDER  QTY_ORDER  REVENUE  UNIT_PRICE
0           P6 2015-08-02      1.000 1808.990    1808.990
1           P6 2015-08-17      1.000 1674.000    1674.000
2           P6 2015-08-17      1.000 1673.950    1673.950
3           P6 2015-08-11      1.000 1674.000    1674.000
4           P6 2015-08-17      1.000 1674.000    1674.000
5           P6 2015-07-30      1.000 1697.340    1697.340
6           P6 2015-08-06      1.000 1676.990    1676.990
7           P6 2015-08-16      1.000 1674.000    1674.000
8           P6 2015-07-25      1.000 1608.670    1608.670
9           P6 2015-07-16      1.000 1697.680    1697.680
10          P6 2015-07-31      1.000 1808.990    1808.990
11          P6 2015-07-21      1.000 1819.430    1819.430
12          P6 2015-08-10      1.000 1677.000    1677.000
13          P6 2015-08-23      1.000 1728.900    1728.900
14          P6 2015-07-27      1.000 1787.410    1787.410
15          P6 2015-08-07      1.000 1676.990    1676.990
16          P6 2015-07-28      1.000 1874.320    1874.320
17          P6 2015-07-26      1.000 1608.670    1608.670
18          P6 2015-07-16      1.000 1697.690    1697.690
19          P6 2015-08-19      1.000 1899.050    1899.050
20          P6 2015-07-31      1.000 1808.990    1808.990
21          P6 2015-07-31      1.000 1808.990    1808.990
22          P6 2015-07-28      1.000 1697.310    1697.310
23          P6 2015-07-29      1.000 1760.090    1760.090
24          P6 2015-09-24      1.000 1399.000    1399.000
25          P6 2015-09-01      1.000 1499.900    1499.900
26          P6 2015-08-31      1.000 1499.900    1499.900
27          P6 2015-08-26      1.000 1499.900    1499.900
28          P6 2015-08-20      1.000 1673.890    1673.890
29          P6 2015-08-13      1.000 1999.000    1999.000
...        ...        ...        ...      ...         ...
351061      P3 2015-10-04      1.000 1166.960    1166.960
351062      P3 2015-10-07      1.000 1231.790    1231.790
351063      P3 2015-10-07      1.000 1231.790    1231.790
351064      P3 2015-10-02      1.000 1166.960    1166.960
351065      P3 2015-10-05      1.000 1166.960    1166.960
351066      P3 2015-10-06      1.000 1231.790    1231.790
351067      P3 2015-09-23      1.000 1108.610    1108.610
351068      P3 2015-09-23      1.000 1231.790    1231.790
351069      P3 2015-09-21      1.000 1296.620    1296.620
351070      P3 2015-10-11      1.000 1166.960    1166.960
351071      P3 2015-10-05      1.000 1166.960    1166.960
351072      P3 2015-10-10      1.000 1166.960    1166.960
351073      P3 2015-10-08      1.000 1231.790    1231.790
351074      P3 2015-10-11      1.000 1166.960    1166.960
351075      P3 2015-10-03      1.000 1166.960    1166.960
351076      P3 2015-09-24      1.000 1231.790    1231.790
351077      P3 2015-10-05      1.000 1166.960    1166.960
351078      P3 2015-10-03      1.000 1166.960    1166.960
351079      P3 2015-10-02      1.000 1166.960    1166.960
351080      P3 2015-10-01      1.000 1061.930    1061.930
351081      P3 2015-10-04      1.000 1166.960    1166.960
351082      P3 2015-10-04      1.000 1166.960    1166.960
351083      P3 2015-10-13      1.000 1166.960    1166.960
351084      P3 2015-10-11      1.000 1166.960    1166.960
351085      P3 2015-10-04      1.000 1166.960    1166.960
351086      P3 2015-09-24      1.000 1008.830    1008.830
351087      P3 2015-10-13      2.000 2333.920    1166.960
351088      P3 2015-09-24      1.000 1311.810    1311.810
351089      P3 2015-10-13      1.000 1166.960    1166.960
351090      P3 2015-10-10      1.000 1166.960    1166.960

[351090 rows x 5 columns]

let's split the data into each product (because each product may have different dynamics)

In [4]:
grouped = sales_df.groupby([sales_df.PROD_ID])
(p1,p2,p3,p4,p5,p6,p7,p8,p9) = [grouped.get_group(prod_id) for prod_id in grouped.groups.keys()]

In [5]:
# let's also aggregate rows with the same timestamp

# LATER

# dataset7 = p7.groupby(p7.DATE_ORDER).agg({
#    "QTY_ORDER":np.sum,
#    "UNIT_PRICE": np.mean
#})

let's use P7 in the first run because it's the product the with the most available data

In [6]:
p7 = p7.sort_values(['DATE_ORDER'])

In [7]:
# now just select the columns we will use in this very simple model
p7 = p7[["UNIT_PRICE","QTY_ORDER"]]

In [8]:
X,y = dataset_funcs.make_Xy_simple(p7)

In [9]:
X.shape,y.shape

((2899, 1), (2899,))