In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [5]:
sales_df = pd.read_csv('../../data/sales.csv')

right now the index is just numbers, but pandas allows us to inform that each index refers to a special Period in time (in this case, a day)

> note that using a PeriodIndex is different from just using a DatetimeIndex because then pandas would just think you want to index the data by a particular point in time, rather than by the whole day, as is the case here.

In [6]:
periods = list(map(lambda dt: pd.Period(dt),sales_df["DATE_ORDER"]))
idx = pd.PeriodIndex(periods)
sales_df=sales_df.set_index(idx).drop(["DATE_ORDER"],axis=1)

In [9]:
sales_df[sales_df["QTY_ORDER"] != 1.0]

           PROD_ID  QTY_ORDER   REVENUE
2015-09-24      P6     12.000 16788.000
2015-09-24      P6     12.000 16788.000
2015-09-23      P6      2.000  2798.000
2015-08-18      P6      2.000  3347.880
2015-04-04      P6      2.000  4078.000
2015-02-03      P6     10.000 16655.600
2015-03-05      P6      2.000  4798.000
2015-02-06      P6      2.000  3773.580
2015-02-04      P6      2.000  3331.120
2015-02-17      P6      3.000  7197.000
2015-02-03      P6      2.000  3331.120
2015-02-24      P6      2.000  4798.000
2015-02-11      P6      2.000  3771.960
2015-06-08      P6      2.000  3608.100
2015-06-08      P6      2.000  3608.100
2015-03-29      P6      3.000  7197.000
2015-04-23      P6      2.000  3565.440
2015-07-23      P6      2.000  3394.760
2015-08-19      P6      2.000  3347.860
2015-05-12      P6      2.000  3597.880
2015-03-05      P6      3.000  4660.530
2015-02-04      P6      2.000  3331.120
2015-02-03      P6      2.000  3331.120
2015-02-10      P6      2.000  3773.300
2015-02-27      P6      5.000  7379.200
2015-02-03      P6      3.000  4996.680
2015-05-12      P6      2.000  3597.900
2015-03-21      P6      2.000  3497.400
2015-04-16      P6      5.000  8744.500
2015-08-12      P6      2.000  3348.000
...            ...        ...       ...
2015-07-09      P3      2.000  2198.000
2015-07-20      P3      2.000  2196.000
2015-03-06      P3      2.000  2848.100
2015-03-09      P3      2.000  2848.100
2015-05-15      P3      2.000  2468.100
2015-06-12      P3      2.000  2557.680
2015-05-12      P3      2.000  2598.000
2015-07-05      P3      3.000  3297.000
2015-07-07      P3      2.000  2198.000
2015-07-06      P3      2.000  2198.000
2015-07-09      P3      2.000  2198.000
2015-07-07      P3      2.000  2198.000
2015-07-16      P3      5.000  5490.000
2015-07-29      P3      2.000  2298.000
2015-09-16      P3      6.000  6588.000
2015-08-02      P3      2.000  2196.000
2015-06-04      P3      2.000  2598.000
2015-05-07      P3      2.000  2598.000
2015-03-04      P3      2.000  2998.000
2015-03-02      P3      2.000  2698.200
2015-04-23      P3      2.000  2598.000
2015-05-07      P3      2.000  2598.000
2015-06-24      P3      2.000  2397.800
2015-06-17      P3      2.000  2557.680
2015-06-21      P3      2.000  2439.920
2015-07-06      P3      2.000  2198.000
2015-08-19      P3      2.000  2196.000
2015-07-15      P3      2.000  2178.000
2015-07-15      P3      2.000  2196.000
2015-10-13      P3      2.000  2333.920

[16076 rows x 3 columns]