In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys


# helper functions
sys.path.insert(0, "../src/lib")

import dataset as dataset_funcs
import cleaning as cleaning_funcs

pd.set_option('display.float_format', lambda x: '%.3f' % x)

**Approach and feature extraction**

The first approach is very naïve, because sometimes really simple models give good results and are easy and cheap to build (also, you can give some kind of early information to decision-makers while you are still working on a more sophisticated model).

Using **just sales data**, transform the dataset into a new dataset where each pair (X_i, y_i) is the following:

X_i = 3 (or 4, or 5) prices for 3 (or 4, or 5) sequential days (for a single product)
y_i = price for the next day

So we learn a very simple model that estimates the next price (for a single product)

> note that we have two subapproaches: in the first one we train on each product type separately and in the second one we train on all products togethers. This is meant to investigate whether we can increase performance when using data from all products.

**Assumptions**

- the model is stationary, i.e. the target function does not change over time, in other words, the way the previous prices affect the next one does not change depending upon what month of the year we're in.

**Shortcomings**

- we do not use data from competitors

**Evaluation**

- squared error, since we're dealing with continuous data

In [4]:
sales_df = pd.read_csv('../data/raw/sales.csv')
sales_df.DATE_ORDER = sales_df.DATE_ORDER.astype("datetime64")
sales_df["UNIT_PRICE"] = sales_df["REVENUE"] / sales_df["QTY_ORDER"]
sales_df.head()

  PROD_ID DATE_ORDER  QTY_ORDER  REVENUE  UNIT_PRICE
0      P6 2015-08-02      1.000 1808.990    1808.990
1      P6 2015-08-17      1.000 1674.000    1674.000
2      P6 2015-08-17      1.000 1673.950    1673.950
3      P6 2015-08-11      1.000 1674.000    1674.000
4      P6 2015-08-17      1.000 1674.000    1674.000

right now the index is just numbers, but pandas allows us to inform that each index refers to a special Period in time (in this case, a day)

> note that using a PeriodIndex is different from just using a DatetimeIndex because then pandas would just think you want to index the data by a particular point in time, rather than by the whole day, as is the case here.

In [5]:
# periods = list(map(lambda dt: pd.Period(dt),sales_df["DATE_ORDER"]))
# idx = pd.PeriodIndex(periods)
# sales_df=sales_df.set_index(idx).drop(["DATE_ORDER"],axis=1)

as we mentioned on the **EXPLORATORY DATA ANALYSIS**, we will remove some bad data from our dataset to avoid propagating these errors to the model (using helper functions).

In [6]:
sales_df = cleaning_funcs.clean_sales_dataframe(sales_df);sales_df

       PROD_ID DATE_ORDER  QTY_ORDER  REVENUE  UNIT_PRICE
0           P6 2015-08-02      1.000 1808.990    1808.990
1           P6 2015-08-17      1.000 1674.000    1674.000
2           P6 2015-08-17      1.000 1673.950    1673.950
3           P6 2015-08-11      1.000 1674.000    1674.000
4           P6 2015-08-17      1.000 1674.000    1674.000
5           P6 2015-07-30      1.000 1697.340    1697.340
6           P6 2015-08-06      1.000 1676.990    1676.990
7           P6 2015-08-16      1.000 1674.000    1674.000
8           P6 2015-07-25      1.000 1608.670    1608.670
9           P6 2015-07-16      1.000 1697.680    1697.680
10          P6 2015-07-31      1.000 1808.990    1808.990
11          P6 2015-07-21      1.000 1819.430    1819.430
12          P6 2015-08-10      1.000 1677.000    1677.000
13          P6 2015-08-23      1.000 1728.900    1728.900
14          P6 2015-07-27      1.000 1787.410    1787.410
15          P6 2015-08-07      1.000 1676.990    1676.990
16          P6 2015-07-28      1.000 1874.320    1874.320
17          P6 2015-07-26      1.000 1608.670    1608.670
18          P6 2015-07-16      1.000 1697.690    1697.690
19          P6 2015-08-19      1.000 1899.050    1899.050
20          P6 2015-07-31      1.000 1808.990    1808.990
21          P6 2015-07-31      1.000 1808.990    1808.990
22          P6 2015-07-28      1.000 1697.310    1697.310
23          P6 2015-07-29      1.000 1760.090    1760.090
24          P6 2015-09-24      1.000 1399.000    1399.000
25          P6 2015-09-01      1.000 1499.900    1499.900
26          P6 2015-08-31      1.000 1499.900    1499.900
27          P6 2015-08-26      1.000 1499.900    1499.900
28          P6 2015-08-20      1.000 1673.890    1673.890
29          P6 2015-08-13      1.000 1999.000    1999.000
...        ...        ...        ...      ...         ...
351061      P3 2015-10-04      1.000 1166.960    1166.960
351062      P3 2015-10-07      1.000 1231.790    1231.790
351063      P3 2015-10-07      1.000 1231.790    1231.790
351064      P3 2015-10-02      1.000 1166.960    1166.960
351065      P3 2015-10-05      1.000 1166.960    1166.960
351066      P3 2015-10-06      1.000 1231.790    1231.790
351067      P3 2015-09-23      1.000 1108.610    1108.610
351068      P3 2015-09-23      1.000 1231.790    1231.790
351069      P3 2015-09-21      1.000 1296.620    1296.620
351070      P3 2015-10-11      1.000 1166.960    1166.960
351071      P3 2015-10-05      1.000 1166.960    1166.960
351072      P3 2015-10-10      1.000 1166.960    1166.960
351073      P3 2015-10-08      1.000 1231.790    1231.790
351074      P3 2015-10-11      1.000 1166.960    1166.960
351075      P3 2015-10-03      1.000 1166.960    1166.960
351076      P3 2015-09-24      1.000 1231.790    1231.790
351077      P3 2015-10-05      1.000 1166.960    1166.960
351078      P3 2015-10-03      1.000 1166.960    1166.960
351079      P3 2015-10-02      1.000 1166.960    1166.960
351080      P3 2015-10-01      1.000 1061.930    1061.930
351081      P3 2015-10-04      1.000 1166.960    1166.960
351082      P3 2015-10-04      1.000 1166.960    1166.960
351083      P3 2015-10-13      1.000 1166.960    1166.960
351084      P3 2015-10-11      1.000 1166.960    1166.960
351085      P3 2015-10-04      1.000 1166.960    1166.960
351086      P3 2015-09-24      1.000 1008.830    1008.830
351087      P3 2015-10-13      2.000 2333.920    1166.960
351088      P3 2015-09-24      1.000 1311.810    1311.810
351089      P3 2015-10-13      1.000 1166.960    1166.960
351090      P3 2015-10-10      1.000 1166.960    1166.960

[351090 rows x 5 columns]

Here we group by the product ID and the date the price was sampled.

In [7]:
grouped_1 = sales_df.groupby([sales_df.PROD_ID,sales_df.DATE_ORDER],as_index=False).agg({
    "QTY_ORDER":np.sum,
    "REVENUE": np.sum,
    "UNIT_PRICE": np.mean
})
grouped_1.sample(10)


# len(sales_df[sales_df.DATE_ORDER < '2015-10-14 00:00:00'])
# len(sales_df[])

     PROD_ID DATE_ORDER    REVENUE  QTY_ORDER  UNIT_PRICE
840       P4 2015-05-20 112335.660    232.000     483.783
1135      P5 2015-09-09 161252.050    205.000     786.597
1706      P7 2015-09-09 556959.090    800.000     696.274
744       P3 2015-08-30   2623.620      2.000    1311.810
2083      P9 2015-07-28  11400.670     26.000     438.445
45        P1 2015-03-21  17094.050     12.000    1424.504
945       P4 2015-09-02  24324.740     46.000     530.476
950       P4 2015-09-07 132568.890    301.000     440.628
474       P2 2015-08-11  76816.590    113.000     678.882
1465      P7 2015-01-09 184700.870    230.000     803.387

> note that the first approach treats each product individually

In [8]:
g1 = sales_df.groupby([sales_df.PROD_ID])

In [9]:
g1 = sales_df.groupby([sales_df.PROD_ID])
(p1,p2,p3,p4,p5,p6,p7,p8,p9) = [g1.get_group(prod_id) for prod_id in g1.groups.keys()]

dataset7 = p7.groupby(p7.DATE_ORDER).agg({
    "QTY_ORDER":np.sum,
    "UNIT_PRICE": np.mean
})
dataset7.sample(5)

            QTY_ORDER  UNIT_PRICE
DATE_ORDER
2015-03-21      7.000     594.721
2015-07-20     10.000     443.460
2015-05-12     43.000     493.399
2015-07-03      9.000     487.889
2015-09-01    758.000     374.886

## now that we have selected data only for P7, let's train a simple model on it

> remember, we'll use UNIT_PRICE and QTY_ORDER for the N=3 previous days to try to model what the next (4th) day. 

Note that we have **aggregated**, i.e. combined all rows for a given day (in the original dataset, there were multiple entries for the same product *and* the same day so we aggregated those).

In [10]:
dataset7.sort_index(inplace=True)
dataset7.reset_index(inplace=True)
dataset7[dataset7.DATE_ORDER.dt.month==5]

   DATE_ORDER  QTY_ORDER  UNIT_PRICE
43 2015-05-01      6.000     535.167
44 2015-05-02      9.000     538.000
45 2015-05-03     10.000     550.200
46 2015-05-04     30.000     505.724
47 2015-05-05     37.000     511.293
48 2015-05-06     22.000     512.781
49 2015-05-07     63.000     496.953
50 2015-05-08     21.000     515.779
51 2015-05-09     34.000     504.380
52 2015-05-10     38.000     505.829
53 2015-05-11     18.000     538.150
54 2015-05-12     43.000     493.399
55 2015-05-13    106.000     474.842
56 2015-05-14    331.000     461.517
57 2015-05-15    185.000     458.721
58 2015-05-16    144.000     461.008
59 2015-05-17    102.000     459.916
60 2015-05-18     44.000     472.882
61 2015-05-19     19.000     501.805
62 2015-05-20     45.000     496.705
63 2015-05-21     18.000     498.719
64 2015-05-22     14.000     505.214
65 2015-05-23     11.000     489.335
66 2015-05-24     29.000     466.041
67 2015-05-25     64.000     469.452
68 2015-05-26    154.000     435.767
69 2015-05-27    201.000     431.920
70 2015-05-28    164.000     428.884
71 2015-05-29     95.000     439.987
72 2015-05-30    108.000     439.931
73 2015-05-31     86.000     442.220

In [15]:
for row in dataset7.values:
    print(row[2])

539.1
561.5288888888889
594.7214285714286
599.0
581.8857142857142
554.4726666666668
543.7076923076921
599.0
599.0
599.0
599.0
561.202
599.0
534.5975
444.29173913043485
491.2421874999999
492.9515151515151
496.505
547.0
569.05
599.0
599.0
581.03
499.905625
498.688
484.4665909090909
488.5846774193548
480.0868852459016
498.7903278688524
498.1692857142857
484.5370833333333
494.1088235294118
503.9504347826086
491.2799999999999
504.67699999999996
501.2947368421052
496.20799999999997
499.50499999999994
503.8081249999999
502.474
514.4774999999998
538.0
516.3923076923077
535.1666666666666
538.0
550.2
505.7241379310345
511.2929729729731
512.7809090909091
496.95327868852456
515.7785714285712
504.38000000000005
505.82945945945943
538.15
493.39883720930237
474.84203883495144
461.51652996845496
458.72052023121483
461.00807142857224
459.91555555555584
472.8820930232557
501.8052631578947
496.7053333333331
498.7188888888889
505.2142857142857
489.33500000000004
466.0414814814816
469.4519999999999
435.7674149659873
431.9196907216507
428.8844099378892
439.9873118279579
439.9307547169822
442.22011764705974
449.32322033898356
477.87734374999997
506.29411764705884
499.0
495.59772727272735
499.0
496.92083333333335
499.0
493.1692307692308
497.004
523.3166666666667
523.0
523.0
501.0
477.9445762711864
473.3584444444444
477.2475609756098
477.16852941176467
488.5
486.6
479.0
491.6666666666667
509.77250000000004
493.48333333333335
516.5
489.0
539.0
539.0
539.0
514.0
504.729
487.8999999999999
487.8888888888889
488.39400000000006
487.12249999999995
486.98
478.78999999999996
496.13571428571424
471.2858333333333
464.6
458.1125
456.99875
449.89999999999986
449.58499999999987
449.0261764705882
448.8761904761906
461.85307692307686
443.9990909090909
443.9315384615385
443.4599999999999
442.61894736842095
441.99969696969697
441.74749999999995
439.96476190476176
441.19952380952384
438.9992857142857
423.7047727272727
438.44458333333336
447.45875
439.0
438.875
435.0
435.0
435.0
435.0
434.236
434.0
431.43022727272705
430.0363135593207
431.68738805970025
430.4073684210514
428.71630630630534
431.9969230769231
433.563125
434.0
432.8057142857143
433.0108695652174
431.2260330578501
376.6285339506183
372.33170163170234
376.45258771929844
377.5195043370509
436.95527272727276
437.65625
407.46990654205655
406.54767676767716
417.1196296296294
404.1202970297032
402.8835820895522
401.4096385542169
400.7543859649123
374.5801403508775
374.8862341325812
370.6830925221803
450.42745098039205
439.7975
429.99738095238087
435.0185185185183
432.3619565217391
432.8099999999999
434.90930232558134
436.1510638297872
436.3333333333333
433.42857142857144
438.8235294117647
429.6683333333333
378.6196415770609
377.8396255506608
391.15774647887326
377.63247422680416
381.2423076923077
378.4106102362205
390.9749462365592
402.0196932515339
390.47617463617433
389.8129639175254
408.3032075471698
399.36256410256397
399.75162790697675
380.9030508474576
378.3587336244542
378.87026476578416
409.38158730158744
417.7830769230768
391.76064516129014
397.46722891566264
396.9385074626865
413.60079999999994
394.7100793650784
393.48128440366753
392.4260992907806
391.4992682926828
390.60616279069774
391.8083486238537
380.67376996805154
378.20744990892535

In [ ]:
import dataset as dataset_funcs

dataset7[dataset7.iloc[:,0] == pd.tslib.Timestamp('2015-06-30 00:00:00')].index.tolist()[0]

# type(dataset7.iloc[0])
# type(dataset7.iloc[:,0])

In [16]:
arr = np.array([1,2,3,4])

In [45]:
lst = [[2,3,4],[4,5,6]]

In [46]:
np.array(lst)

array([[2, 3, 4],
       [4, 5, 6]])

In [47]:
lst1 = []
lst1.append(lst)
lst1

[[[2, 3, 4], [4, 5, 6]]]

In [51]:
arr.tolist()

[1, 2, 3, 4]